/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
.env
/vendor/bin
/vendor/composer
/vendor/dnoegel
/vendor/doctrine
/vendor/erusev
/vendor/fzaninotto
/vendor/hamcrest
/vendor/jakub-onderka
/vendor/knplabs
/vendor/laravel
/vendor/league
/vendor/mockery
/vendor/monolog
/vendor/mtdowling
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/paragonie
/vendor/phpdocumentos
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/sebastian
/vendor/spatie
/vendor/swiftmailer
/vendor/symfony
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/webmozart
/vendor/phpdocumentor